Package: com.xb.cctv.autoGetRedEnv
Name: autoGetRedEnv
Version: 0.1-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: ZT0526
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

